.about-section-container {
    padding: 3% 5% 15%;
    gap: 2rem;
    overflow: hidden;
}

.about-section-container .about-text {
    text-align: right;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-end; 
}

.about-section-container .about-text h1,
.about-section-container .about-text p,
.about-section-container .about-text .read-more {
    text-align: right;
    margin-right: 0;
}

.about-section-container .about-text h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.about-section-container .about-text p {
    color: white;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.about-section-container .about-text .read-more {
    background-color: #E1A253;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.about-section-container .about-text .read-more:hover {
    background-color: #D08E3D;
}

.about-section-container .about-images {
    position: relative;
}

.about-section-container .about-images img {
    position: absolute;
}

.about-images img.BilliardsTable {
    right: -40%;
    top: -15%;
    width: 130%;
}

.about-images img.AboutCircle {
    right: 10%;
    top: 5%;
    width: 59%;
}

.about-images img.BallsPattern {
    top: 26%;
    right: -15%;
    width: 45%;
}