.game-intro-container {
    background-image: url("../Assets/Saudi Flag.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0% 30% ;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.game-intro-container .intro-container .intro-headings {
    margin-top: 3rem;
    margin-left: 5%;
    text-align: right;
}

.game-intro-container .intro-container h1{
    color: #D08E3D;
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.game-intro-container .intro-container p{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.intro-images img {
    position: absolute;
}

img.BiliPhoto {
    width: 50%;
    right: -16%;
    top: -4%;
}

img.PhotoTriangle {
    width: 55%;
    right: -21%;
    top: -10%;
}

img.SmallTriangles {
    width: 20rem;
    right: 10%;
    top: 0%;
}

img.BallsPattern2 {
    width: 15rem;
    left: 0;
    top: 20%;
}