.main-section-container {
  background-image: url("../Assets/Balls Pattern.png"),
    url("../Assets/Main Header Fabric Layout.png"),
    url("../Assets/Main Header Fabric Layout.png"),
    url("../Assets/Main Header Pool Layout.png"),
    url("../Assets/Header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 120vh;
  display: flex;
  justify-content: space-between;
}

.main-section-container .headings-container {
  position: relative;
  align-self: center;

  h3 {
    color: white;
  }
}

.main-section-container .images-container img {
  position: absolute;
  top: -20%;
  left: -25%;
  max-width: 100%;
}

.images-container img:nth-child(2) {
  left: 25%;
  top: -33%;
  z-index: 1;
}

.main-section-container .images-container {
  position: relative;
}

.main-section-container .images-container img {
  position: absolute;
  top: -20%;
  left: -25%;
  max-width: 100%;
}

.images-container img:nth-child(2) {
  left: 25%;
  top: -33%;
  z-index: 1;
}
