.main-section-container {
  background-image: url("../Assets/Balls Pattern.png"),
    url("../Assets/Main Header Fabric Layout.png"),
    url("../Assets/Main Header Fabric Layout.png"),
    url("../Assets/Main Header Pool Layout.png"),
    url("../Assets/Main Header BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 120vh;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.main-section-container .headings-container {
  position: relative;
  align-self: center;
  text-align: right;
  padding-right: 5%;

  h3 {
    color: white;
    font-size: 3rem;
  }

  h1{
    color: #D08E3D;
    font-size: 4.5rem;
    font-weight: bold;
  }

  p{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.main-section-container .images-container img {
  position: absolute;
  top: -20%;
  left: -25%;
  max-width: 100%;
}

.images-container img:nth-child(2) {
  left: 25%;
  top: -33%;
  z-index: 1;
}

.main-section-container .images-container {
  position: relative;
  max-width: 50%;
}

.main-section-container .images-container img {
  position: absolute;
  top: -20%;
  left: -25%;
  max-width: 100%;
}

.images-container img:nth-child(2) {
  left: 25%;
  top: -33%;
  z-index: 1;
}
