.game-intro-container .matches-container{
    margin-top: 10%;
    padding: 3% 5%;
}

.game-intro-container .matches-container h2{
    text-align: center;
    color: white;
    font-weight: 700;
    margin-bottom: 5rem;
}