.navbar {
  position: absolute !important;
  z-index: 9999;
  top: 0;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  background-color: transparent ;
  padding: 3% 5% !important;
}

.navbar .logo {
  width: 20%;
}

.navbar .language-selection {
  background-color: #f0d465;
  color: #ffffff;
}

.navbar .logo img {
  max-width: 100%;
}

.navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.875rem;
}

.menu-item {
  position: relative;
}

.menu-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.3125rem 0.9375rem;
  transition: color 0.3s ease;
  position: relative;
}

.menu-item a.active {
  color: #f0d465;
  border-bottom: 0.125rem solid #f0d465;
}

.menu-item a:not(.active):hover {
  color: #f0d465;
}

.menu-item a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  bottom: 0;
  right: 0%;
  background-color: #f0d465;
  transition: width 0.4s ease-out;
}

.menu-item a:not(.active):hover::after {
  width: 100%;
}

.sub-menu {
  text-align: right;
  display: none;
  position: absolute;
  background-color: #0b3b25;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  list-style: none;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.sub-menu li {
  padding: 0.5rem ;
}

.sub-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}

.sub-menu li a:hover {
  color: #f0d465;
}
