.popular-news-container {
    background-image: url("../Assets/Sparks.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 10%;
    display: flex;
    flex-direction: column;
    padding: 8% 5% ;
}

.popular-news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.popular-news-header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.popular-news-header .see-more {
    background-color: #E1A253;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.popular-news-header .see-more:hover {
    background-color: #D08E3D;
}

.popular-news-content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.popular-news-content .main-news {
    width: 70%;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
}

.popular-news-content .main-news .main-news-image {
    width: 101%;
    border-radius: 30px 30px 0 0;
    object-fit: contain;
}

.popular-news-content .main-news .news-details {
    padding: 20px;
}

.main-news .news-details h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.popular-news-content .main-news .news-details p {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.main-news .news-details .bottom-card-details{
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-news .date {
    color: #777;
}

.main-news .read-more {
    background-color: #3c633a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.main-news .read-more:hover {
    background-color: #2b4729;
}

.popular-news-container .popular-news-content .side-videos {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.popular-news-container .popular-news-content .video {
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex:1;
    outline: none;
}

.popular-news-container .popular-news-content .video-cover {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 40px 20px 20px 40px;
}

.popular-news-container .popular-news-content .video-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.popular-news-container .popular-news-content .video-details h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.popular-news-container .popular-news-content .video-details .date{
    color: #777;
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .popular-news-content {
        flex-direction: column;
    }

    .main-news {
        width: 100%;
    }

    .side-videos {
        width: 100%;
    }

    .popular-news-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}